*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --amost-white: #FFFDFA;
    --dark-blue: #00001A;
    --gunmetal: #5E607A;
    --vermillion: #F15D51;
    --yellow: #E9AA52;
    --silver: #C5C6CE;
}

body {
    padding: 1.75rem  1rem;
    background-color: var(--amost-white);
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header-mobile button {
    border: none;
    background: none;
}

.primeira-seçao {
    margin-bottom: 4rem;
}

.primeira-seçao img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.primeira-seçao h1 {
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 1rem;

}

.primeira-seçao p{
    font-size: 0,9375rem ;
    line-height: 1.625rem;
    color: var(--gunmetal);
    margin-bottom: 1.5rem;
}

.primeira-seçao button {
    padding: 0.75rem 2rem;
    background-color: var(--vermillion);
    border: none;
    text-transform: uppercase;
    color: var(--amost-white);
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.275rem;
    line-height: 1.5rem;
} 

.segunda-seçao {
    background-color: var(--dark-blue);
    margin-bottom: 4rem;  
    padding: 1.5rem 1.1rem;
}

.margin-border-padding {
    border-bottom: 1px solid var(--gunmetal);
    margin: bottom 1.75rem; 
    padding-bottom: 1.75rem;
}

.segunda-seçao h2 {
    color: var(--yellow);
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.2rem;
}

.segunda-seçao h3 {
    color: var(--amost-white);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
}

.segunda-seçao P {
    color: var(--silver);
    font-size: 0.9275rem;
    line-height: 1.625rem;

}

.terceira-seçao > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.terceira-seçao img {
    max-width: 6.25rem;
}

.terceira-seçao strong {
    color: var(--silver);
    font-size: 2rem;
    line-height: 100%;
}

.terceira-seçao h2 {
    color: var(--dark-blue);
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    margin-block: 0.6rem;
}

.terceira-seçao p {
    font-size: 0.9365rem;
    line-height: 1.625rem;
    color: var(--gunmetal);
}